.poem {
    -webkit-columns: 12em; /* Chrome, Safari, Opera */
    -moz-columns: 12em; /* Firefox */
    columns: 12em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 53em;
}

iframe {
    margin-top: 1.3em;
}

.heading {
    text-align: center;
}

h2 {
    font-size: 0.95em;
    line-height: 1.25;
    margin-top: 1.3em;
    margin-bottom: 0.0em;
}

h3 {
    font-size: 0.9em;
    line-height: 1.25;
    margin-top: 1.2em;
    margin-bottom: 0.0em;
}

h4 {
    font-size: 0.85em;
    line-height: 1.25;
    margin-top: 1.1em;
    margin-bottom: 0.0em;
}

p {
    font-size: 0.8em;
    line-height: 1.25;
    margin-top: 0.4em;
    margin-bottom: 0.0em;
}

a {
    text-decoration: none;
}

.ui-controlgroup-controls {
    overflow:auto;
}

iframe.file {
    display: none;
}

.ui-btn {
    padding: 0.35em 0.5em;
}